.sidebar {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__hr {
    width: 100%;
    border-color: currentColor;
  }

  &__link {
    color: #9e9eff;

    &--active {
      color: #ff9e9e;
    }
  }
}
